*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* google fonts style starts*/
body{
    font-family: "Merriweather", serif;
}
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
/* google fonts style ends*/

/* header section design starts here */
/* container Here */
.container{
    max-width: 1200px;
    margin: 50px auto 0 auto;
}
.header-container{
    max-width: 1320px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image :url('new-year-offer-resources/images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    margin: 10px auto;
    border-radius:10px;
    background: linear-gradient(rgb(7, 2, 17)
    rgba(7, 2, 17, 0));
    position: relative;
    background-blend-mode: overlay;
}

.header-content{
    width: 632px;
    height: 246px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h3{
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 16px;
    font-weight:400;
}

.header-content h2{
    font-size: 72px;
    text-align: center;
    font-weight: 900;
    color: rgb(255, 255, 255);

}
/* header section design ends here */

/* holiday section  */
.holiday-section{
  width: 802px;
  height: 806px;
  margin: 120px auto;
}
.holiday-content{
  width: 802px;
  height: 306px;
  text-align: center;
}

.holiday-content h1{
  font-size: 88px;
  font-weight: 700;
  color: rgb(255, 0, 0);
  font-family: Inter;
  margin-bottom: 48px;
}

.holiday-content p{
  font-family: inter;
  font-weight: 500;
  font-size: 24px;
  color: rgb(255, 0, 0);
  margin-bottom: 16px;
}

.holiday-content h4{
  font-size: 48px;
  font-weight: 700;
  font-family: inter;
}

/* holiday image design */
.holiday-image{
  width: 802px;
  height: 500px; 
}

.holiday-image img{
  width: 100%;
  height: 100%;
}
/* holiday section design ends  */

/* welcome section design starts here */
.welcome-banner{
  width: 1200px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('new-year-offer-resources/images/Vectorrr.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  border-radius: 5px;
}

.welcome-bannar-content{
  width: 45%;
}

.welcome-bannar-content h2{
  font-size: 64px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}

.welcome-bannar-content p{
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 48px;
}
.welcome-bannar-content a{
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-transform: uppercase;
}

.welcome-banner-image{
  width: 350.16px;
  height: 450.65px;
  margin-left: 10%;
}

.welcome-banner-image img{
  width: 100%;
  height: 100%;
}
/* welcome section design ends here */
/* location section design starts here */
.location{
  height: 450px;
  margin-top: 120px;
  width: 1200px;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.location .location-content{
  text-align: center;
}

.location-content h3{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.location-content h3:nth-child(3){
  margin-bottom: 0;
}
.location-content h3 span{
  color: rgb(255, 0, 0);
  font-size: 32px;
  font-weight: 700;
}

.location-content .btn{
  margin-top: 48px;
  background-color: rgb(255, 0, 0);
  width: 167px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.location-content .btn a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
/* location section design end here */
/* best offer section design here */
.best-offer{
  width: 1200px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.left-content h4{
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
  margin-bottom: 12px;
}
.left-content h2{
  font-size: 48px;
  font-weight: 600;
  color: rgb(7, 2, 17);
  margin-bottom: 12px;
}
.left-content p{
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}

.medle-image{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  
}
.medle-image img{
  width: 100%;
  height: 100%;
  outline: 10px solid red;
  outline-offset: 10px;
  border-radius: 50%;
}

.right-content h2{
  font-size: 48px;
  font-weight: 700;
  color: rgb(255, 0, 0);
  margin-bottom: 12px;
}

.right-content p{
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 40px;
}

.right-content img{
  width: 140px;
  height: 140px;
  border: 2px dashed gray;
}
/* best offer section ends here */